<ion-content fullscreen>
  <!-- Fondo con imagen -->
  <div class="background-image">
    <!-- Contenedor del formulario -->
    <div class="login-container">
      <!-- Formulario -->
      <div class="form-content">
        <h2>Bienvenidos</h2>
        <ion-item class="custom-input">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input #email type="email"></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Password</ion-label>
          <ion-input  #password type="password"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="login(email, password)" class="custom-button">LOGIN IN</ion-button>
        <p class="forgot-password">Forgot Password?</p>
      </div>
    </div>
  </div>
</ion-content>
