<ion-content fullscreen>
  <!-- Fondo con imagen -->
  <div class="background-image">
    <!-- Contenedor del formulario -->
    <div class="login-container">
      <!-- Formulario -->
      <div class="form-content">
        <h2>Bienvenidos</h2>
        <ion-item class="custom-input">
          <ion-label position="floating">E-mail</ion-label>
          <ion-input #email type="email"></ion-input>
        </ion-item>
        <ion-item class="custom-input">
          <ion-label position="floating">Password</ion-label>
          <ion-input  #password type="password"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="login(email, password)" class="custom-button">LOGIN IN</ion-button>

        <div class="social-login">
          <ion-button (click)="loginWithGoogle()"  expand="block" class="btn-google">
            <ion-icon name="logo-google"></ion-icon>
            Iniciar sesión con Google       
          </ion-button>
        </div>
        
        <p class="forgot-password">Forgot Password?</p>
      </div>
    </div>
  </div>
</ion-content>
